@charset "UTF-8";
.nav-link:hover{
  opacity: 0.7;
}
.top{
  background-image: url(./img/bled-1899264_1280.webp);
  background-size: cover;
  background-position: center;
}
.my-photo{
  border-radius: 20%;
}
